* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: 1.5rem 3rem;
}

.hidden {
  display: none;
}

header {
  margin-bottom: 1.25rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  form {
    margin: 1.25rem 3rem;
  }
}
